body {
  font-family: Noto Sans KR;
  background-color: #5b2386;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main {
  margin-top: 125px;
  font-size: 24px;
  @media (max-width: 767px) {
    margin-top: 69px;
    font-size: 14px;
  }
}
